@use "../../tools/colors" as colors;
@use "../../tools/variables" as variables;
@use "../../tools/fonts" as fonts;
@use "../../tools/mixins" as mixins;

.pg-event {
  width: 100%;
  background: colors.$snow-white;
  padding: 2rem;
  border-radius: variables.$border-radius;
  box-sizing: border-box;

  h3 {
    margin-top: 0;
  }

  &__cta {
    font-size: 16px !important;
  }

  @include mixins.media-min("xl") {
    width: calc(50% - 1rem);
  }
}
