@use "../../tools/colors" as colors;
@use "../../tools/variables" as variables;
@use "../../tools/fonts" as fonts;
@use "../../tools/mixins" as mixins;

// Bloc "Appel découverte".
.contact-discovery-call {
  background: colors.$honey-yellow-light;
  padding: 3rem 0 10rem;

  &__container {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
  }
}
