{#
/**
 * @file
 * Default theme implementation to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
 */
#}
{% if content %}
  <div{{ attributes.addClass("block") }}>
    <div class="header__content">
      <a href="/">
        <img src="/themes/custom/cco_theme/assets/logotype-white.png" alt="" class="header__logo">
      </a>
      {{ content }}
    </div>
  </div>
{% endif %}
