<div class="pg-solution">
  <div class="block pg-solution__container">
    <div class="pg-solution__content">
      <h2>{{ subhead }}</h2>
      <div class="wysiwyg">
        {{ text|raw }}
      </div>
    </div>
  </div>
</div>
