<div class="pg-working-method">
  <div class="block">
    <h2>{{ title }}</h2>
    <div class="wysiwyg">
      {{ text|raw }}
    </div>

    <ul class="pg-working-method__steps">
      {{ content }}
    </ul>
    {% if options %}
      <div class="pg-working-method__options">
        <div class="pg-working-method__options-text">
          <div class="wysiwyg">
            {{ options|raw }}
          </div>
        </div>
        <div class="pg-working-method__options-image">
          <img src="/themes/custom/cco_theme/assets/asset-sticker-flower-bg.png" alt="" class="pg-working-method__options-image--image">
        </div>
      </div>
    {% endif %}
  </div>
</div>
