<div class="pg-projects">
  <div class="block">
    <h2>{{ title }}</h2>
    <div class="pg-projects__content">
      <div class="pg-projects__text">
        <div class="wysiwyg fs-lg">
          {{ text|raw }}
        </div>
      </div>
      <div class="pg-projects__image-container">
        <img src="/themes/custom/cco_theme/assets/asset-sticker-computer-white.png" alt="" class="pg-projects__image">
      </div>
    </div>


    {{ content }}

  </div>
</div>
