<div class="pg-problems">
  <div class="block pg-problems__container">
    <div class="pg-problems__content">
      <h2>{{ subhead }}</h2>
      <div class="wysiwyg">
        {{ text|raw }}
      </div>
    </div>
    <div class="pg-problems__img">
      <img src="{{ file_url(sticker) }}" alt="" />
    </div>
  </div>
</div>
