$bloody-orange: #d54414;
$electric-blue: #3028f4;
$honey-yellow: #f2bb04;
$lavender-purple: #b87cff;
$vine-peach: #fa9a64;
$midnight-blue: #121289;
$lagoon-blue: #aee6ed;
$salt-flower-gray: #f2efe9;
$snow-white: #ffffff;

$vine-peach-light: #fcccb1;
$electric-blue-light: #3090f4;
$honey-yellow-dark: #d29400;
$honey-yellow-light: #f8dd81;
$lavender-purple-medium: #c7a9ff;
$lavender-purple-light: #e4cfff;
$lagoon-blue-dark: #4297af;
$lagoon-blue-medium: #4bb0cc;
$fir-green-dark: #03684d;
$fir-green: #008764;
$fir-green-light: #7fc2b4;
