@font-face {
  font-family: 'Momentz Corfmat';
  src: url('/themes/custom/cco_theme/fonts/MomentzCorfmat-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kanopi Brazil Corfmat';
  src: url('/themes/custom/cco_theme/fonts/KanopiBrazilCorfmat-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fredoka';
  src: url('/themes/custom/cco_theme/fonts/Fredoka-VariableFont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$momentz: 'Momentz Corfmat', sans-serif;
$kanopi: 'Kanopi Brazil Corfmat', sans-serif;
$fredoka: 'Fredoka', sans-serif;
